/* Mint green: #d3eee1 */
/* Sea foam: #7FA191 */
/* Royal purple: #663399 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/**************************************
REUSABLE COMPONENTS
**************************************/

.row { max-width: 100% }

section { padding: 50px 0px; }

header { padding: 120px 120px 60px 120px; }

box { padding: 1%; }

h1 {
    font-size: 300%;
    line-height:63px;
    font-weight: 400;
    width: 75%;
}

h2 {
    width: 85%;
    font-weight:300;
    font-size: 120%;
    line-height: 1.5em;
}

h3 {
    font-weight:500;
    font-size:200%;
    margin-bottom: 80px;
    width: 65%;
}

.superhed {
    font-size: 70%;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #7FA191;
    margin-bottom: 10px;
}


/**************************************
DETAILS
**************************************/

#process {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.process-left,
.process-right {
    max-width: 85%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 30px 80px 10px rgba(0,0,0,0.3);

    display: flex;
    margin-bottom: 80px;
}

.process__hero {
    flex: 0 0 50%;
    overflow: hidden;
}

.process__img {
    width: 100%;
    height: auto;
    display: block;
    transform: scale(1.15);
    transition: transform 0.5s;
}

.process__img:hover {
    transform: scale(1.03);
}


.process__content {
    flex: 1;
    background: white;
    padding: 35px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process__title {
    display: flex;
    flex-direction: column;
    transition: color 0.3s;
}

.process__title:hover {
    display: flex;
    flex-direction: column;
    color: #7FA191;
}

.process__type {
    font-size: 50%;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #7FA191;
    margin-bottom: 10px;
}

.process__heading {
    font-size: 150%;
    font-weight:300;
    margin-bottom:20px;
}

.process__description { 
    font-size: 75%;
    font-weight: 300;
    line-height: 140%;    
}

.process__details {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.process__details a:link,
.process__details a:visited {
    font-size: 65%;
    text-decoration: none;
    color:#555;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 10px;

}

.process__details a:active,
.process__details a:hover {
    color: #7FA191;
}

/**************************************
MORE WORK
**************************************/

#work {
    /*margin-left: 120px;*/
    /*padding-bottom: 150px;*/
    max-width: 100%;
    /*background: #d3eee1;*/
}


.work__links {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.work__link:link,
.work__link:visited {
    width: 100%;
    text-decoration: underline;
    color: #555;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.5s, margin-left 0.5s;
}

.work__link:hover,
.work__link:active {
    color: #7FA191;
   
}



/**************************************
QUERIES
**************************************/

/* --- Up to 1200px -- */
@media only screen and (max-width: 1200px) {    
    h1 { width: 95%; }
    
    #main-nav { padding: 30px 140px 0px 120px; }

    .process__img { height: 100%; }

    .process__img:hover { transform: scale(1.03); }
    
    .process__details { margin-top: 20px; }

}




/* --- Up to 1023px -- */
@media only screen and (max-width: 1023px) {
    
    html { font-size: 18px; }
    
    .main-nav__link:link,
    .main-nav__link:visited,
    .main-nav__link:hover,
    .main-nav__link:active {
        margin: 0px 20px 0px 20px;
    }
    
    .bylines__logos {
        max-width: 93%;
    }
    
}


/* --- Up to 767px -- */
@media only screen and (max-width: 767px) {
    
    html { font-size: 16px; }
    
    header,
    #main-nav,
    #process,
    .bylines__logos,
    #contact { padding-left: 60px; }
    
    .main-nav__link { display: none; }
    .mobile-nav-icon { display: inline-block; }
    .main-nav__logo:link,
    .main-nav__logo:visited { flex: 0 0 98%; }
    
    header, #main-nav { padding-right: 100px; }
    h1 { width: 100%; }
    h2 { width: 100%; }
    h3 { width: 85%; }
    
    section { padding: 15px 0px; }
    
    .process-right { flex-direction: column; }
    .process-left { flex-direction: column-reverse; }
    
    .work__links { flex-direction: column; }
    .work__link:link,
    .work__link:visited {
        margin-left: 0px;
        margin-right: 0px;
    }
    

}
    
/* --- Up to 480px -- */
@media only screen and (max-width: 480px) {
    .main-nav__logo:link,
    .main-nav__logo:visited { flex: 0 0 99%; }
    
    h1 { line-height: 1.075em; }
    h2 { line-height: 1.20em; }
    
    .mobile-nav-icon { margin-bottom: 14px; }
    
    header { padding-top: 100px; }

    
    #contact { margin-top: 50px; }

    
}
