/* --- Up to 1200px -- */
@media only screen and (max-width: 1200px) {    
    h1 { margin-top: -20px; }
    
    #main-nav { padding: 30px 140px 0px 120px; }
    
    .project__img { height: 100%; }

    .project__img:hover { transform: scale(1.03); }
    
    .project__details { margin-top: 30px; }
    
    .bylines__logos { max-width: 80%; }

}

/* --- Up to 1023px -- */
@media only screen and (max-width: 1023px) {
    
    html { font-size: 18px; }
    h1 { width: 95%; }
    h2 { width: 85%; }
    
    .main-nav__link:link,
    .main-nav__link:visited,
    .main-nav__link:hover,
    .main-nav__link:active {
        margin: 0px 20px 0px 20px;
    }
    
    .bylines__logos {
        max-width: 93%;
    }
    
    .footer-box__logo { flex: 0 0 70%; }
}


/* --- Up to 767px -- */
@media only screen and (max-width: 767px) {
    
    html { font-size: 16px; }
    
    header,
    #main-nav,
    #projects,
    .bylines__logos,
    #contact,
    .footer-box__logo { padding-left: 60px; }
    
    .main-nav__link { display: none; }
    .mobile-nav-icon { display: inline-block; }
    .main-nav__logo:link,
    .main-nav__logo:visited { flex: 0 0 98%; }
    
    header, #main-nav { padding-right: 100px; }
    h1 { width: 100%; }
    h2 { width: 100%; }
    h3 { width: 85%; }
    
    section { padding: 15px 0px; }
    
    .project-right { flex-direction: column; }
    .project-left { flex-direction: column-reverse; }

    
    .bylines__logos { max-width: 98%; }
    
    .footer-box__logo { flex: 0 0 68%; }

}
    
/* --- Up to 480px -- */
@media only screen and (max-width: 480px) {
    .main-nav__logo:link,
    .main-nav__logo:visited { flex: 0 0 99%; }
    
    h1 { line-height: 1.075em; }
    h2 { line-height: 1.20em; }
    
    .mobile-nav-icon { margin-bottom: 14px; }
    
    header { padding-top: 100px; }
    
    .unicorn-emoji { margin-bottom: 15px; }
    
    .bylines__logos { 
        max-width: 45%;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        margin: 0 auto;
        overflow: visible;
    }
    
    .bylines__logo { padding-right: 0px; }
    
    .link-gq, .link-muse { display: none; }
    
    #contact { margin-top: 50px; }
    
    .footer-box__logo { flex: 0 0 55%; }
    

}
